.retrieve-password-background-b {
  background-image: url("../../assets/images/retriever1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.retrieve-verifier-background-v {
  background-image: url("../../assets/images/retriever2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.retrieve-password-padding {
  padding-bottom: 80px;
  padding-top: 10px;
}
