.login-background {
  background-image: url("../../assets/images/image4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.user-image {
  max-width: 25%;
}
.loging-padding {
  padding-bottom: 80px;
  padding-top: 10px;
}
.login-text {
  font-size: 12px;
  cursor: pointer;
}
.broker-login {
  border-radius: 10px;
}
.login-input {
  border-radius: 15px;
}
@media screen and (max-width: 400px) and (min-width: 0px) {
  .login-details {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
